<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Finance Up</title>
    <!-- mobile responsive meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="plugins/fncp-icon/style.css">
    <link rel="stylesheet" href="plugins/Stroke-Gap-Icons-Webfont/style.css">
    <link rel="stylesheet" href="plugins/animate.min.css">
    <link rel="stylesheet" href="plugins/owl.carousel-2/assets/owl.carousel.css">
    <link rel="stylesheet" href="plugins/owl.carousel-2/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
    <!-- main stylesheet-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
   <!--   login -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <!-- Website Font style -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<style >
/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html{
     height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
}

.main{
    margin-top: 70px;
}

h1.title { 
    font-size: 50px;
    font-family: 'Passion One', cursive; 
    font-weight: 400; 
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}

</style>

  
  </head>
  <body>
    <header class="header">
      <div class="thm-container clearfix">
        <div class="logo pull-left"><a href="index-2.html"><img src="images/logo.png" alt="Awesome Image"></a></div>
        <div class="header-right-info pull-right">
          <ul>
            <li>
              <div class="single-header-right-info">
                <div class="icon-box"><i class="icon icon-Pointer"></i></div>
                <div class="text-box">
                  <p>13005 Greenville Avenue <br>California, TX 70240</p>
                </div>
              </div>
            </li>
            <li>
              <div class="single-header-right-info">
                <div class="icon-box"><i class="icon icon-Phone2"></i></div>
                <div class="text-box">
                  <p>+ (1800) 456 7890 <br>info@financepro.com</p>
                </div>
              </div>
            </li>
            <li>
              <div class="single-header-right-info">
                <div class="icon-box"><i class="icon icon-Timer"></i></div>
                <div class="text-box">
                  <p>Mon - Sat 9.00 - 19.00 <br>Sunday Closed</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <nav id="main-navigation-wrapper" class="navbar navbar-default finance-navbar">
      <div class="thm-container">
        <div class="navbar-header">
          <div class="logo-menu"><img src="images/new/logo-menu.png" alt=""></div>
          <button type="button" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div id="main-navigation" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="single-member.html">Profile</a></li>
            <li><a href="services.html">Services</a></li>
          </ul>
          <form role="search" class="navbar-form navbar-right">
            <input type="text" placeholder="Enter Keywords">
            <button type="submit"><i class="icon icon-Search"></i></button>
          </form>
        </div>
      </div>
    </nav>
    <section class="inner-banner">
      <div class="thm-container">
        <div class="page-title">
          <h3>Registeration</h3>
          <p>Money Doesn’t Come Without Guidence ...</p>
        </div>
      </div>
    </section>
    <div class="bread-cumb">
      <div class="thm-container">
        <ul class="list-inline">
          <li><a href="index-2.html">Home</a></li>
          <li><span>Transaction</span></li>
        </ul>
      </div>
    </div>

<!--  register begining -->

        <div class="container">
            <div class="row main">
                <div class="panel-heading">
                   <div class="panel-title text-center">
                        <h1 class="title">Register</h1>
                        <hr />
                    </div>
                </div> 
                <div class="main-login main-center">
                    <form class="form-horizontal" method="post" action="#">
                        
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Your Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username" class="cols-sm-2 control-label">Username</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <button type="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                        </div>
                        <div class="login-register btn btn-default">
                            <a href="login.html">Login</a>
                         </div>
                    </form>
                </div>
            </div>
        </div><br>

        <script type="text/javascript" src="assets/js/bootstrap.js"></script>

  <!-- register end -->

  <!--   <section class="sec-pad faq-page">
      <div class="thm-container">
        <div class="sec-title">
          <h2>About Investment and Stock Market</h2>
          <div class="decor-line"></div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div id="accordion" role="tablist" class="panel-group accordion">
              <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">How I can invest money in increasing stock market</a>
                <div id="collapseOne" role="tabpanel" class="panel-collapse collapse">
                  <div class="inner-box">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How I can invest money in increasing stock market</a>
                <div id="collapseTwo" role="tabpanel" class="panel-collapse collapse in">
                  <div class="inner-box">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">How I can invest money in increasing stock market</a>
                <div id="collapseThree" role="tabpanel" class="panel-collapse collapse">
                  <div class="inner-box">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed">How I can invest money in increasing stock market</a>
                <div id="collapseFour" role="tabpanel" class="panel-collapse collapse">
                  <div class="inner-box">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed">How I can invest money in increasing stock market</a>
                <div id="collapseFive" role="tabpanel" class="panel-collapse collapse">
                  <div class="inner-box">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- <section class="sec-pad pt0 faq-page">
      <div class="thm-container">
        <div class="sec-title">
          <h2>General Questions</h2>
          <div class="decor-line"></div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div id="accordion-two" role="tablist" class="panel-group accordion">
              <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion-two" href="#acc-two-collapseOne" class="collapsed">How I can invest money in increasing stock market</a>
                <div id="acc-two-collapseOne" role="tabpanel" class="panel-collapse collapse">
                  <div class="inner-box">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion-two" href="#acc-two-collapseTwo">How I can invest money in increasing stock market</a>
                <div id="acc-two-collapseTwo" role="tabpanel" class="panel-collapse collapse in">
                  <div class="inner-box">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion-two" href="#acc-two-collapseThree" class="collapsed">How I can invest money in increasing stock market</a>
                <div id="acc-two-collapseThree" role="tabpanel" class="panel-collapse collapse">
                  <div class="inner-box">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion-two" href="#acc-two-collapseFour" class="collapsed">How I can invest money in increasing stock market</a>
                <div id="acc-two-collapseFour" role="tabpanel" class="panel-collapse collapse">
                  <div class="inner-box">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion-two" href="#acc-two-collapseFive" class="collapsed">How I can invest money in increasing stock market</a>
                <div id="acc-two-collapseFive" role="tabpanel" class="panel-collapse collapse">
                  <div class="inner-box">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section class="footer-contacts">
      <div class="thm-container">
        <h2>We help you to make the best marketable strategy , asset and execution</h2><a data-animation="animated fadeInLeft" href="contact.html" class="thm-button">Contact Us <i class="fa fa-arrow-right"></i></a>
      </div>
    </section>
    <footer class="footer">
      <div class="thm-container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-widget about-widget"><a href="index-2.html"><img src="images/new/logo2.png" alt="Awesome Image"></a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
              <div class="tel-box">
                <div class="icon-box"><i class="fa fa-map-marker"></i></div>
                <div class="text-box">
                  <p>42 Tailstoi Town 5248 MT, Wordwide Country</p>
                </div>
              </div>
              <div class="tel-box">
                <div class="icon-box"><i class="fa fa-phone"></i></div>
                <div class="text-box">
                  <p>( 018) 65 524 8503  /  (125) 954 7854</p>
                </div>
              </div>
              <div class="tel-box">
                <div class="icon-box"><i class="fa fa-envelope"></i></div>
                <div class="text-box">
                  <p><a href="#">contact@financepro.com</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="footer-widget links-widget links-widget-pac">
              <div class="title">
                <h2>Explore</h2>
                <div class="decor-line"></div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="single-member.html">Profile</a></li>
                    <li><a href="services.html">Services</a></li>
                  </ul>
                </div>
                <!-- <div class="col-md-6 col-sm-6">
                  <ul>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Retairment</a></li>
                    <li><a href="#">Trade</a></li>
                    <li><a href="#">Investment</a></li>
                    <li><a href="#">Taxtation</a></li>
                  </ul>
                </div> -->
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="footer-widget subscribe-widget">
              <div class="title">
                <h2>Subscribe Newsletter</h2>
                <div class="decor-line"></div>
              </div>
              <form action="#">
                <p>Get latest updates and offers.</p>
                <div class="newsletter-widget">
                  <input type="text" placeholder="Enter your email address">
                  <button type="submit" class="thm-button"><i class="fa fa-envelope"></i></button>
                </div>
              </form>
              <ul class="social list-inline">
                <li><a href="facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li><a href="linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="google.com"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <section class="footer-bottom">
      <div class="thm-container clearfix">
        <div class="pull-left">
          <p>Copyright © Finance Up 2018. All rights reserved. </p>
        </div>
       <!--  <div class="pull-right">
          <p>Created by: DesignArc</p>
        </div> -->
      </div>
    </section>
    <!-- table -->
<script src="js/table.js"></script>

    <!-- helper js-->
    <script src="plugins/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/owl.carousel-2/owl.carousel.min.js"></script>
    <script src="plugins/jquery.mixitup.min.js"></script>
    <script src="plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="plugins/Chart.min.js"></script>
    <script src="plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="plugins/waypoints.min.js"></script>
    <script src="plugins/jquery.counterup.min.js"></script>
    <script src="js/theme.js"></script>
  </body>

</html>